<div id="about">
  <% about.forEach(function(topic, idx1) { %>
    <div class="about">
      <h3 class="topic"><%= topic.name %></h3>:
      <ul class="items">
        <% topic.items.forEach(function(item, idx2) { %>
          <li class="item">
            <% if (item.link) { %>
              <a href="<%= item.link %>"><%= item.name %></a><% if (idx2 < topic.items.length-1) { %>, <% } %>
            <% } else { %>
              <span><%= item.name %></span><% if (idx2 < topic.items.length-1) { %>, <% } %>
            <% } %>
          </li>
        <% }); %>
      </ul>
    </div>
  <% }); %>
</div>