<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>rtbot</title>
        <link rel="stylesheet" href="/css/reset.css"/>
        <link rel="stylesheet" href="/pgbot/css/main.css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script type="text/javascript" src="/pgbot/js/underscore.js"></script>
        <script type="text/javascript" src="/pgbot/js/jquery.scrollto.min.js"></script>
        <script type="text/javascript" src="/pgbot/js/main.js"></script>
    </head>
    <body>
        <%- body %>
    </body>
</html>