<div id="credits">
    <% about.forEach(function(topic, idx1) { %>
        <div class="about">
            <h3 class="topic"><%= topic.name %></h3>:
            <ul class="items">
                <% topic.items.forEach(function(item, idx2) { %>
                    <li class="item">
                        <% if (item.link) { %>
                            <a href="<%= item.link %>"><%= item.name %></a><% if (idx2 < topic.items.length-1) { %>, <% } %>
                        <% } else { %>
                            <span><%= item.name %></span><% if (idx2 < topic.items.length-1) { %>, <% } %>
                        <% } %>
                    </li>
                <% }); %>
            </ul>
        </div>
    <% }); %>
</div>
<div class="hbox center wrapper">
    <div class="vbox center">
        <div class="hbox center row">
            <div class="vbox center left">
                <p class="label">local time</p>
            </div>
            <div class="right clock blue local">
                <div class="display">
                    <div class="display-area digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area sep colon">
                        <div class="element bar top"></div>
                        <div class="element bar bottom"></div>
                    </div>
                    <div class="display-area digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area sep colon">
                        <div class="element bar top"></div>
                        <div class="element bar bottom"></div>
                    </div>
                    <div class="display-area second digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area second digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hbox center row">
            <div class="vbox center left">
                <p class="label">remote time</p>
            </div>
            <div class="right clock blue remote">
                <div class="display">
                    <div class="display-area digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area sep colon">
                        <div class="element bar top"></div>
                        <div class="element bar bottom"></div>
                    </div>
                    <div class="display-area digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area sep colon">
                        <div class="element bar top"></div>
                        <div class="element bar bottom"></div>
                    </div>
                    <div class="display-area second digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area second digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
