<p id="credits">
    <a href="http://www.font-zone.com/download.php?fid=1520">fonts</a>, 
    <a href="http://blog.briancavalier.com/css3-digital-clock">clock</a>, 
    <a href="http://www.deleket.com/softscraps.html">icons</a>, 
    <a href="http://infrequently.org/2009/08/css-3-progress/">xul.css</a>
</p>
<div class="hbox center wrapper">
    <div class="vbox center">
        <div class="hbox center row">
            <div class="vbox center left">
                <p class="label">local time</p>
            </div>
            <div class="right clock blue local">
                <div class="display">
                    <div class="display-area digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area sep colon">
                        <div class="element bar top"></div>
                        <div class="element bar bottom"></div>
                    </div>
                    <div class="display-area digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area sep colon">
                        <div class="element bar top"></div>
                        <div class="element bar bottom"></div>
                    </div>
                    <div class="display-area second digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area second digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hbox center row">
            <div class="vbox center left">
                <p class="label">remote time</p>
            </div>
            <div class="right clock blue remote">
                <div class="display">
                    <div class="display-area digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area sep colon">
                        <div class="element bar top"></div>
                        <div class="element bar bottom"></div>
                    </div>
                    <div class="display-area digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area sep colon">
                        <div class="element bar top"></div>
                        <div class="element bar bottom"></div>
                    </div>
                    <div class="display-area second digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                    <div class="display-area second digit">
                        <div class="element bar center top"></div>
                        <div class="element bar center middle"></div>
                        <div class="element bar center bottom"></div>
                        <div class="element bar left top"></div>
                        <div class="element bar left bottom"></div>
                        <div class="element bar right top"></div>
                        <div class="element bar right bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
