<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Remote Clock</title>
        <link rel="stylesheet" href="/css/reset.css"/>
        <link rel="stylesheet" href="/css/xul.css"/>
        <link rel="stylesheet" href="/css/jquery.gritter.css"/>
        <link rel="stylesheet" href="/css/global.css"/>
        <link rel="stylesheet" href="/rtclock/css/clock.css"/>
        <link rel="stylesheet" href="/rtclock/css/main.css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery.gritter.min.js"></script>
        <script type="text/javascript" src="/js/about.js"></script>
        <script type="text/javascript" src="/faye.js"></script>
        <script type="text/javascript" src="/rtclock/js/clock.js"></script>
        <script type="text/javascript" src="/rtclock/js/main.js"></script>
    </head>
    <body>
        <%- body %>
    </body>
</html>