/*
	(c) copyright 2010, Brian Cavalier

	LICENSE: see the LICENSE.txt file. If file is missing, this file is subject to the MIT
	License at the following url: http://www.opensource.org/licenses/mit-license.php.
*/
body {
	background: #22252A;
	font-size: 100%;
	margin: 0;
	padding: 0;
}
.clock {
	position: relative;
	-webkit-transition: opacity 1000ms ease;
	-moz-transition: opacity 1000ms ease;
}
.clock .display {
	position: relative;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	-webkit-transform: skewX(-5deg);
	-moz-transform: skewX(-5deg);
	z-index: 99;
}
.clock .display-area {
	float: left;
	height: 111px;
	margin: 0 15px 15px 0;
	position: relative;
}
.clock .element {
	opacity: .05;
}
.clock .on {
	opacity: .9 !important;
}
.clock .digit {
	width: 62px;
}

/* Bars for hours, minutes, and seconds */
.clock .bar {
	background-color: #0f0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	position: absolute;
	-webkit-box-shadow: 0 0 20px #0f0;
	-moz-box-shadow: 0 0 20px #0f0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
}
.clock .center {
	left: 11px;
	height: 10px;
	width: 40px;
}
.clock .center.top {
	top: 0;
}
.clock .center.middle {
	top: 50px;
}
.clock .center.bottom {
	bottom: 0px;
}
.clock .left,
.clock .right {
	width: 10px;
	height: 50px;
}
.clock .left {
	left: 0;
}
.clock .right {
	right: 0;
}
.clock .left.top,
.clock .right.top {
	top: 5px;
}
.clock .left.bottom,
.clock .right.bottom {
	bottom: 5px;
}

/* Digits */
.clock .d0 .center.top,
.clock .d0 .center.bottom,
.clock .d0 .left.top,
.clock .d0 .left.bottom,
.clock .d0 .right.top,
.clock .d0 .right.bottom {
	opacity: .9;
}
/* Always hide leading zeros in 12hr time */
.clock .hr12 .d0:first-child .bar {
	opacity: .1 !important;
}
.clock .d1 .right.top,
.clock .d1 .right.bottom {
	opacity: .9;
}
.clock .d2 .center,
.clock .d2 .right.top,
.clock .d2 .left.bottom {
	opacity: .9;
}
.clock .d3 .center,
.clock .d3 .right.top,
.clock .d3 .right.bottom {
	opacity: .9;
}
.clock .d4 .center.middle,
.clock .d4 .left.top,
.clock .d4 .right.top,
.clock .d4 .right.bottom {
	opacity: .9;
}
.clock .d5 .center,
.clock .d5 .left.top,
.clock .d5 .right.bottom {
	opacity: .9;
}
.clock .d6 .center,
.clock .d6 .left.top,
.clock .d6 .left.bottom,
.clock .d6 .right.bottom {
	opacity: .9;
}
.clock .d7 .center.top,
.clock .d7 .right.top,
.clock .d7 .right.bottom {
	opacity: .9;
}
.clock .d8 .bar {
	opacity: .9;
}
.clock .d9 .center,
.clock .d9 .left.top,
.clock .d9 .right.top,
.clock .d9 .right.bottom {
	opacity: .9;
}
		
/* Colon separator */
.clock .sep.on .bar {
	opacity: .9;
}
.clock .colon {
	width: 10px;
}
.clock .colon .bar {
	width: 10px;
	height: 10px;
}
.clock .colon .top {
	top: 32px;
}
.clock .colon .bottom {
	bottom: 32px;
}
.clock.hr12 .element.hr12 {
	opacity: .9 !important;
}
.clock.hr24 .element.hr24 {
	opacity: .9 !important;
}

/* Color Themes - Green is default */

/* Blue */
.clock.blue .bar,
.clock .dot.blue {
	background-color: rgb(0, 200, 255);
	-webkit-box-shadow: 0 0 20px rgb(0, 200, 255);
	-moz-box-shadow: 0 0 20px rgb(0, 200, 255);
}
