html, body {
    background: #22252A;
    width: 100%;
    height: 100%;
    overflow:auto;
    color:#000;
    font-size:15px;
}

a, a:active, a:visited {
    color:#000;
}

.box {
    padding:20px;
    border: 2px solid #323232;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #FFF;
}

.page {
    width: 100%;
    height: 100%;
    text-align:center;
}

.page .box {
    width:430px;
    margin-top:20px;
    border:0;
    -webkit-box-shadow: #000 10px 10px 5px;
    -moz-box-shadow: #000 10px 10px 5px;
    box-shadow: #000 10px 10px 5px;
}

.page .box:last-child {
    margin-bottom:100px;
}

.page .box.form .line {
    width:100%;
}

.page .box.form .line:last-child {
    margin-top:20px;
}

.page .box.form .label {
    width: 205px;
    padding: 2px 5px 2px 5px;
    margin: 4px 10px 4px 0px;
    line-height: 28px;
    font-size:16px;
    font-family:Arial;
    background-color: #EEE;
    text-align:right;
}

.page .box.form .text {
    width: 205px;
    padding: 2px 2px;
    margin: 4px 0px 4px 0px;
    border:0;
    background-color: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #DDD;
    line-height: 28px;
    -webkit-box-shadow: #F3F3F3 3px 3px;
    -moz-box-shadow: #EEE 3px 3px;
    box-shadow: #EEE 3px 3px;
}

.page .box.form .text.invalid {
    background-color:#FF0;
}

.page .box.form input[type="submit"].disabled {
    opacity:0.4;
}

.page .box.form .submit {
    width: 205px;
}

.page .box.status {
    min-height:50px;
    background-repeat:no-repeat;
}

.page .box.status.inactive {
    display:none !important;
}

.page .box.status.working {
    background-image:url('/wikidrill/images/ajax-loader.gif');
    background-position:center center;
}

.page .box.status.done {
    background-image:none;
}

.page .box.status.error {
    background-image:url('/images/button_delete_01.png');
    background-position:20px center;
    -webkit-background-size:50px 50px;
    -moz-background-size:50px 50px;
    background-size:50px 50px;
}

.page .box.status.warning {
    background-image:url('/images/button_warning_01.png');
    background-position:20px center;
    -webkit-background-size:50px 50px;
    -moz-background-size:50px 50px;
    background-size:50px 50px;
}

.page .box.status.success {
    background-image:url('/images/button_next_01.png');
    background-position:20px center;
    -webkit-background-size:50px 50px;
    -moz-background-size:50px 50px;
    background-size:50px 50px;
}

.page .box.status .message {
    margin:0 0 0 60px;
}

.page .box.result {
    display:none;
    margin-left: 0px;
}

.page .box.result li {
    margin: 0px 0px 8px 15px;
    padding: 2px 5px;
    background-color:#EEE;
    font-size: 11px;
    line-height: 28px;
    font-family: Arial;
}

.page .box.result li:last-child {
    margin: 0px 0px 0px 15px;
}

.page .box.result li a {
    font-size: 16px;
}

.page .box.result,
.page .box.result li {
    text-indent: 0;
}

.page .box.result.nonempty {
    display:block;
}
