<%- partial(rootPath + '/views/partials/about', { locals:{about:about} }) %>
<div class="hbox center page">
    <div class="vbox top">
        <form id="form" class="box form" action="/wikidrill" action="POST">
            <div class="hbox end line">
                <label class="label" for="start_term">http://en.wikipedia.org/wiki/</label>
                <input type="text" id="start_term" class="text invalid" name="start_term" title="start page" placeholder="start page" />
            </div>
            <div class="hbox end line">
                <label class="label" for="end_term">http://en.wikipedia.org/wiki/</label>
                <input type="text" id="end_term" class="text disabled" name="end_term" title="end page" placeholder="end page" value="Philosophy" />
            </div>
            <div class="hbox end line">
                <input type="submit" class="button black submit" value="Start" />
            </div>
        </form>
        <div id="status" class="vbox center box status inactive">
            <p class="message"></p>
        </div>
        <ol id="result" class="box result"></ol>
    </div>
</div>
