<div id="credits">
    <% about.forEach(function(topic, idx1) { %>
        <div class="about">
            <h3 class="topic"><%= topic.name %></h3>:
            <ul class="items">
            <% topic.items.forEach(function(item, idx2) { %>
                <li class="item">
                    <% if (item.link) { %>
                        <a href="<%= item.link %>"><%= item.name %></a><% if (idx2 < topic.items.length-1) { %>, <% } %>
                    <% } else { %>
                        <span><%= item.name %></span><% if (idx2 < topic.items.length-1) { %>, <% } %>
                    <% } %>
                </li>
            <% }); %>
            </ul>
        </div>
    <% }); %>
</div>
<div class="hbox center page">
    <div class="vbox top">
        <form id="form" class="box form" action="/wikidrill" action="POST">
            <div class="hbox end line">
                <label class="label" for="start_term">http://en.wikipedia.org/wiki/</label>
                <input id="start_term" class="text invalid" name="start_term" title="start page" placeholder="start page" autocomplete="on" />
            </div>
            <div class="hbox end line">
                <label class="label" for="end_term">http://en.wikipedia.org/wiki/</label>
                <input id="end_term" class="text invalid" name="end_term" title="end page" placeholder="end page" autocomplete="on" />
            </div>
            <div class="hbox end line">
                <input type="submit" class="button black submit" value="Start" />
            </div>
        </form>
        <div id="status" class="vbox center box status inactive">
            <p class="message"></p>
        </div>
        <ol id="result" class="box result"></ol>
    </div>
</div>