<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wiki Drill</title>
        <link rel="stylesheet" href="/css/reset.css"/>
        <link rel="stylesheet" href="/css/xul.css"/>
        <link rel="stylesheet" href="/css/jquery.gritter.css"/>
        <link rel="stylesheet" href="/css/global.css"/>
        <link rel="stylesheet" href="/wikidrill/css/buttons.css"/>
        <link rel="stylesheet" href="/wikidrill/css/main.css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery.gritter.min.js"></script>
        <script type="text/javascript" src="/js/about.js"></script>
        <script type="text/javascript" src="/js/jquery.tmpl.min.js"></script>
        <script type="text/javascript" src="/wikidrill/js/main.js"></script>
        <script id="jquery_tmpl_template" class="template" type="text/html">
            {{each(i, item) items}}
                <li>
                    <a href="${item.url}">${item.title}</a>
                </li>
            {{/each}}
        </script>
    </head>
    <body>
        <%- body %>
    </body>
</html>
